.outer{
    background-color: lightgrey;
    border:4px #000000 solid;
    padding: 2px 5px 2px 5px ;
    margin: 5px;
    height: 600px;
 
}
h1
{
   color:white;
    background-color: black;
    text-align: center;
}
#inner{
    background-color: white;
    height: 480px;
    width: 320px;
    padding: 4px 10px ;
    border:2px rgb(206, 189, 189) solid;
    border-radius: 5px;
    margin: 0 auto;
}
button{
    display: block;
    background-color: blue;
    color: white;
    margin-top: 10px;
    text-align: center;
    margin: auto;
}
pre{
    display: inline;
   
}
#name{
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#about{
    color:rgba(48, 46, 46, 0.945);
    font-family:'Times New Roman', Times, serif;
}
#price{
    font-size: large;
    color: green;
    font-weight: bolder;
}