.product-box{ 
    text-align: center;
    height:550px;
    width:500px;
    border:3px black solid ;
    border-radius: 10px;
    padding:20px;
    margin:20px;
    background-color: white;
}
#price{
    color: red;
    font-weight: bolder;

}
#cart{
    background-color: blue;
    color: white;
}